<a routerLink="/twowaybinding">twowaybinding</a>
<div>
    <input type="button" class="btn btn-primary" (click)="course1()" value="java">
    <input type="button"  class="btn btn-primary" (click)="course2()" value="web">
    <p [innerText]="course"></p>
</div>
<br>
<h3> Passing and using Data in /eventBinding $event </h3><br>
<label>Enter your name:</label>
<input type="text" (input)="nametext($event)" class="form-control">
<h2>{{'hello '}}{{nametxt}}</h2>
