<a routerLink="/attributedirective">attributedirective</a>
<!-- <p> StructuralDirectives ngif,ngif-else and ngif-then-else </p> -->
<!-- -----------------ngIf--------------------------- -->
<!-- <h1 *ngIf="lowm<40 && avmg<40" id="f"> Fail</h1>
<h1 *ngIf="avmg>40 && lowm>40" >Pass</h1>
<h1 *ngIf="(avmg>40 && lowm<40) ||(avmg<40&& lowm>40)" id="er">Invalid marks or average</h1> -->
<!-- --------------------ngIf-else--------------------- -->

<!-- <span>Result:</span><h1 *ngIf="lowm>40 && avmg>40 else fail" id="p">Pass</h1>
<ng-template #fail>
<h1 id="f"  >Fail</h1>
</ng-template> -->

<!-- -------------------ngIf-then-else------------- -->
<!-- Lowest Mark:<input type="number" [(ngModel)]="lowm" >
average Mark:<input type="number" [(ngModel)]="avmg">
<h1 *ngIf="lowm>40 && avmg>40 then pass else fail"></h1>

<ng-template #pass>
<h1 id="p">Pass</h1>
</ng-template >
<ng-template #fail>
    <h1 id="f">Fail</h1>
</ng-template> -->

<!-- -----------------------*ngFor--------------- -->
<!-- <p>Details:</p>
<h5 *ngFor="let each of details; let i=index">{{(i + 1)+ ".) "+each}}</h5> -->
<select [(ngModel)]="selectCity">
    <option>--select---</option>
    <option *ngFor="let c of city">{{c}}</option>
</select>
<div [ngSwitch]="selectCity">
    <h1 *ngSwitchCase="'chennai'">Tamilnadu</h1>
    <h1 *ngSwitchCase="'kochin'">Kerala</h1>
    <h1 *ngSwitchCase="'banglore'">Karnataka</h1>
    <h1 *ngSwitchCase="'puduchery'"> Pondicherry</h1>
    <h1 *ngSwitchDefault>--select--</h1>
</div>
