<!-- <h1> Two way Binding </h1>
<p> To use twowaybinding . 1) need to add FormsModule to imports[] array in Appmodule. 2) import <code>FormsModule</code> from angular/Forms </p> -->
<a routerLink="/templaterefvar">templaterefvariable</a>
<input type="txt" [(ngModel)]="uname" class="form-control">
<p>{{uname}}</p>
<input type="button" class="btn btn-danger" value ="Clear" id="Clearbtn"
(click)="clear()" [disabled]="uname === ''">
