<h1>Tempratue Converter</h1>
<h3>celcius to fahrenheit</h3>
<p><input type="number" [(ngModel)]="cel"></p>
<p>Fahernheit:{{cel|tempConverter:'f'}}</p>
<h3>Fahernheit to celcius</h3>
<p>Fahernheit: <input type="number" [(ngModel)]="fah"></p>
<p> celsius:{{fah|tempConverter:'f'}}</p>
<p>{{date|date:'fullDate'}}</p>
<p>{{date|date:'fullTime'}}</p>
<p>{{date|date:'mediumTime'}}</p>
<p>{{date|date:'shortTime'}}</p>
<p>{{date|date:'longDate'}}</p>